body {
  text-align: center;
}

.article {
  text-align: center;
  padding: 10px;
  margin: 0 20px 20px;
  border: 1px solid #e7e7e7;
}

.date {
  font-size: .75rem;
  font-style: italic;
}

.menu-main {
  padding: 20px;
  border: 1px solid #e7e7e7;
  color: #FFFFFF;
  background-color: #000000;
}

.ref {
 vertical-align: super;
 font-size: .65rem;
 font-weight: 600;
}

.ref a {
  color: blue;
  text-decoration: none;
  padding: 2px;
}

.home {
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.home:hover {
  color: black;
  background-color: white;
}

@media (max-width: 600px) {
  body {
    font-size: 1.5rem;
  }
}

  }
}
